:root { 
--bluegray_900:#333333; 
--indigo_A200_d3:#4d68f9d3; 
--indigo_900_33:#29346e33; 
--black_900:#000000; 
--indigo_A400:#4154ff; 
--gray_900_ab:#000938ab; 
--black_901:#060606; 
--indigo_A200:#4d69fa; 
--pink_300:#fb4bae; 
--black_900_3f:#0000003f; 
--indigo_700_33:#3f4b8b33; 
--white_A700:#ffffff; 
}